.wrapper {
    align-items: center;
    background-color: var(--foreground);
    border: 1px solid var(--background-light);
    border-radius: 8px;
    color: var(--text);
    justify-content: center;
    padding: 2px 4px;
}