.slideshow {
    align-items: center;
    background-color: var(--foreground);
    border: 2px solid var(--border);
    border-radius: 8px;
    display: flex;
    height: 100%;
    justify-content: center;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}


/* Responsive Styles */