.grid {
    align-items: center;
    display: grid;
    gap: 4px;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(10rem, auto);
    justify-content: center;
}

@media screen and (min-width: 640px) {
    .grid {
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .grid {
        gap: 6px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        gap: 7px;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .grid {
        gap: 8px;

        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1536px) {
    .grid {
        gap: 9px;
        grid-template-columns: repeat(6, 1fr);
    }
}