.div {
    box-sizing: border-box;
    background-color: var(--white);
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 8px;
}

.label {
    font-size: 2rem;
    position: absolute;
    left: 4px;
    top: 8px;
}

.input {
    background-color: var(--white);
    border: none;
    height: 50px;
    outline: none;
    padding-left: 4px;
}

.div:hover>.label,
.input:focus {
    font-size: 1rem;
    top: 0px
}

.div:hover>.input {}